body {
  font-family: 'Roboto';
  background: url("background.svg") no-repeat center;
  background-size: cover;
}

.header {
  text-align: center;
  padding: 20px;
}

.header img {
  max-width: 100%;
  height: auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-style: inherit;
  font-size: 28px;
}

.header p {
  width: 558px;
  height: 56px;
  left: 261px;
  top: 247px;
  font-style: normal;
  line-height: 28px;
}
.gift-choice {
  display: flex;
  font-style: normal;
  align-items: center;
  padding-inline-start: 350px;
}

.gift-choice p {
  margin-left: 10px;
  font-weight: 300;
}
#toggle {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  margin-left: 500px;
}
.dropdown-content img {
  border-radius: 50%;
  width: 100px;
  height: 88px;
  
}
.dropdown-content {
  display: flex;
  flex-direction: row; 
  justify-items: center;
  
}
.mother{
  padding-left: 23px;
}

#toggle2 {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  margin-left: 437px;
}
.header-text-plp {
  display: flex;
  font-style: normal;
  align-items: center;
  padding-inline-start: 350px;
}
.header-text-plp h1 {
  margin-left: 10px;
  font-size: larger;
}
.choose p {
  font-weight: 300;
  margin-left: 480px;
  position: relative;
  top: -70px;
  font-size: smaller;
  

}
.back {
  display: flex;
  padding: 20px;
  padding-block: 10px;
  background-color: #e5eae4;
  font-style: normal;
  color: #050f05;
  border-radius: 50px;
  border-style: hidden;
  margin-left: 300px;
  
}
.back img{
  margin: 1px;
  padding-right: 5px;
}
.selected {
  display: flex;
  font-style: normal;
  align-items: center;
  padding-inline-start: 350px;
}
#slide {
  width: 100%;
  padding: 20px 50px;
  margin-top: 20px;
  margin-left: 300px;
  width: 790px;
  height: 620px;
  overflow: auto;
}

.products {
  display: flex;
  display: flex;
  flex-wrap: nowrap; 
}
.white-product{
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.restart {
  display: flex;
  padding: 20px;
  padding-block: 10px;
  background-color: #e5eae4;
  font-style: normal;
  color: #050f05;
  border-radius: 50px;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  
}
.restart img{
  margin: 1px;
  padding-right: 5px;
}


.slide p {
  text-align: justify;
}

::-webkit-scrollbar {
  background: #dcdadb;
  width: 10px;
  border-radius: 15pt;
  
}

::-webkit-scrollbar-thumb {
  background: #b7b9bc;
  border-radius: 15pt;
}
/* Responsive Design */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .gift-choice {
    padding-inline-start: 0;
  }
  
  #toggle {
    margin-left: auto;
    margin-right: auto;
  }
  #toggle2 {
    margin-left: auto;
    margin-right: auto;
  }
  #slide {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
  }
  
  .dropdown-content img {
    width: 80px;
    height: 70px;
  }
  
  .mother {
    padding-left: 0;
  }
}